
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!-- <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <!-- jpp, changed to url_for() to set dynamic web application -->
    <link href="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
        background-color: #F0F0F0;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      #slot1{
        text-align: center;
      }
      #slot2{
        text-align: center;
      }
      #slot3{
        text-align: center;
      }
      #slot4{
        text-align: center;
      }

      /* Main marketing message and sign up button */
      /* jpp changed this formatting to left align */
      .jumbotron {
        margin: 30px 0;
        text-align: left;

      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
        text-align: center;
        margin-left: 100px;
      }

      .widthcontrol {
        min-width: 700px;
        margin-right: auto;
        margin-left: auto;
      }

      #box1 {
          margin-left: 100px;
      }

      #box2 {
        margin-left: 400px;
        margin-top: -273px;
      }

      #box3 {
        margin-top: 20px;
        margin-left: 100px;
      }

      #box4{
        margin-left: 400px;
        margin-top: -272px;
      }

      .artistwrap {
        width: 200px;

      }


      .art_names {
        font-size: 18px;
        text-align: center;
      }


      .croppedImage{
        width: 160px;
        height: 160px;
        margin-left: 0px;
        margin-right: 60px;
        margin-top: 10px;
        margin-bottom: 5px;
        padding:2px;
        border: thin solid black;
      }

      .croppedImage2{
        width: 160px;
        height: 160px;
        margin-left: 0px;
        margin-right: 60px;
        margin-top: 10px;
        margin-bottom: 5px;
        padding:2px;
        border: thin solid black;
      }


      .new_muted{color:Black}

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>

    <script type="text/javascript">
      var rejected_artists = new Array();
      var upvote_artists = new Array();
    </script>

<!-- for the follow on twitter button -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    <script type="text/javascript">
    // This is a function to deal with undo-ing
    // the down-voting of previous artists.
    // Simply pop the rejected artists arrays.
    function undo_click(item) {
      console.log('undo the last Down-Vote')
      console.log(rejected_artists)
      rejected_artists.pop()
      console.log(rejected_artists)

      // root artist name
      var artist_name = "{{root_artist}}"

      // output dictionary to send with Ajax
      var output_dict = {'rejected_artists': rejected_artists, 'upvoted_artists': upvote_artists,'root_artist': artist_name }

      $.ajax({ url:'/hiphopper/output', type:"POST", data: JSON.stringify(output_dict), 
        contentType:"application/json; charset=utf-8", dataType:"json", 
        success: function(data){ console.log(data)
          document.getElementById('slot1').innerHTML=data[0]
          document.getElementById('slot2').innerHTML=data[1]
          document.getElementById('slot3').innerHTML=data[2]
          document.getElementById('slot4').innerHTML=data[3]
          document.getElementById('twit1').src="//platform.twitter.com/widgets/follow_button.html?screen_name="+data[4]
          document.getElementById('twit2').src="//platform.twitter.com/widgets/follow_button.html?screen_name="+data[5]
          document.getElementById('twit3').src="//platform.twitter.com/widgets/follow_button.html?screen_name="+data[6]
          document.getElementById('twit4').src="//platform.twitter.com/widgets/follow_button.html?screen_name="+data[7]
          document.getElementById('img1').src="https://api.twitter.com/1/users/profile_image?screen_name="+data[4]+"&size=original"
          document.getElementById('img2').src="https://api.twitter.com/1/users/profile_image?screen_name="+data[5]+"&size=original"
          document.getElementById('img3').src="https://api.twitter.com/1/users/profile_image?screen_name="+data[6]+"&size=original"
          document.getElementById('img4').src="https://api.twitter.com/1/users/profile_image?screen_name="+data[7]+"&size=original"
          if (rejected_artists.length > 0) {
            document.getElementById('undo').innerHTML= "<button onclick='undo_click(this)'; class='btn btn-small btn-inverse'> Undo Last Down-Vote </button>"
          } else
          {
            document.getElementById('undo').innerHTML= ""
          }

        } });
    };

    </script>

<!-- jpp, added this function to bind buttons. Tell
      Flask to drop a particular node when someone hits dislike -->
    <script type="text/javascript">
    function clicked(item) {

      console.log('before root artist')
      var artist_name = "{{root_artist}}"
      console.log('after root artist')
      console.log(artist_name)

      rejected_artists.push(document.getElementById("slot"+($(item).attr('id'))[6]).innerHTML)

      var output_dict = {'id' : document.getElementById("slot"+($(item).attr('id'))[6]).innerHTML, 'rejected_artists': rejected_artists, 'upvoted_artists': upvote_artists,
      'root_artist': artist_name }

      $.ajax({ url:'/hiphopper/output', type:"POST", data: JSON.stringify(output_dict), 
        contentType:"application/json; charset=utf-8", dataType:"json", 
        success: function(data){ console.log(data)
          document.getElementById('slot1').innerHTML=data[0]
          document.getElementById('slot2').innerHTML=data[1]
          document.getElementById('slot3').innerHTML=data[2]
          document.getElementById('slot4').innerHTML=data[3]
          document.getElementById('twit1').src="//platform.twitter.com/widgets/follow_button.html?screen_name="+data[4]
          document.getElementById('twit2').src="//platform.twitter.com/widgets/follow_button.html?screen_name="+data[5]
          document.getElementById('twit3').src="//platform.twitter.com/widgets/follow_button.html?screen_name="+data[6]
          document.getElementById('twit4').src="//platform.twitter.com/widgets/follow_button.html?screen_name="+data[7]
          document.getElementById('img1').src="https://api.twitter.com/1/users/profile_image?screen_name="+data[4]+"&size=original"
          document.getElementById('img2').src="https://api.twitter.com/1/users/profile_image?screen_name="+data[5]+"&size=original"
          document.getElementById('img3').src="https://api.twitter.com/1/users/profile_image?screen_name="+data[6]+"&size=original"
          document.getElementById('img4').src="https://api.twitter.com/1/users/profile_image?screen_name="+data[7]+"&size=original"

          document.getElementById('img1_link').href="http://www.youtube.com/results?search_query="+data[0].replace(' ', '+')
          
          document.getElementById('undo').innerHTML= "<button onclick='undo_click(this)'; class='btn btn-small btn-inverse'> Undo Last Down-Vote </button>"

        } });
    };
    </script>


<!-- 
    <script type="text/javascript">
    function upvote_click(item) {

      upvote_artists.push(document.getElementById("slot"+($(item).attr('id'))[8]).innerHTML)

      var output_dict = {'id' : document.getElementById("slot"+($(item).attr('id'))[8]).innerHTML, 'rejected_artists': rejected_artists, 'upvoted_artists': upvote_artists }

      $.ajax({ url:'/hiphopper/output', type:"POST", data: JSON.stringify(output_dict), 
        contentType:"application/json; charset=utf-8", dataType:"json", 
        success: function(data){ console.log(data)
          document.getElementById('slot1').innerHTML=data[0]
          document.getElementById('slot2').innerHTML=data[1]
          document.getElementById('slot3').innerHTML=data[2]
          document.getElementById('slot4').innerHTML=data[3]
          document.getElementById('slot5').innerHTML=data[4]} });
    };
    </script> -->

    <!-- <link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">


    <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename='apple-touch-icon-114-precomposed.png')}}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='apple-touch-icon-72-precomposed.png')}}">
                    <link rel="apple-touch-icon-precomposed" href=" {{ url_for('static', filename = 'apple-touch-icon-57-precomposed.png') }}">
                                   <link rel="shortcut icon" href=" {{ url_for('static', filename = 'favicon.png') }}">

  </head>

  <body>

   <!-- Start the body of the HTML -->
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!-- add the website app name -->
          <a class="brand">HipHopper</a>
          <div class="nav">
            <ul class="nav">
              <!-- Now add the navigation buttons -->
              <li><a href="#">Home</a></li>
              <li class="active" ><a href="{{ url_for('api') }}">The HipHopper App</a></li>
              <li><a href="#">How it Works</a></li>
              <li><a href="#">About Justin</a></li>
              <li><a href="#">Holla Back</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-narrow">

      <br>
      <div class="jumbotron">
        <h2>True HipHop Heads Rock These Joints Too:</h2>
      </div>

<!-- Now deal with the menu of recommended artists -->
<!-- jpp, flag: do this in a loop -->
<!-- jinja for loop -->


      <span id='undo'> </span>

      <!-- First row of artist recommendations -->
      <div class="table">
        <div class="widthcontrol">
          <div class="tablerow">
            <span class="boxwrap">
              <!-- Artist pictures -->
              <!-- 
              for the youtube search query, go here:
              http://www.youtube.com/results?search_query=Brad+Paisley
               with a string split or replace white-space
               -->
              <div class="artistwrap" id="box1">
                <a id = 'img1_link' href="http://www.youtube.com/results?search_query={{recommendation[0]}}".replace(' ', '+') >
                  <img class="croppedImage" src="https://api.twitter.com/1/users/profile_image?screen_name={{rec_sn[0]}}&size=original" title="@{{rec_sn[0]}}" id="img1"></img>
                </a>
                <!-- now for the text -->
                  <p class="lead-artists"> 
                    <span id='slot1'> {{recommendation[0]}} </span> 
                  </p>
                  <!-- and the twitter follow buttons -->
                  <iframe allowtransparency="true" frameborder="0" scrolling="no" id="twit1"
                  src="//platform.twitter.com/widgets/follow_button.html?screen_name={{rec_sn[0]}}"
                  style="width:300px; height:20px;">
                  </iframe>
                  <!-- Click-to-remove buttons -->
                  <button onclick = "clicked(this);" class="btn btn-small btn-inverse" type="button" id="button1"> Rock something different </button>
                </div>
            </span>
            <span class="boxwrap">
              <!-- Artist pictures -->
              <div class="artistwrap" id="box2">
                <img class="croppedImage" src="https://api.twitter.com/1/users/profile_image?screen_name={{rec_sn[1]}}&size=original"
                title="@{{rec_sn[1]}}" id="img2"> </img>
                <!-- now for the text -->
                  <p class="lead-artists"> 
                    <span id='slot2'> {{recommendation[1]}} </span> 
                  </p>
                  <iframe allowtransparency="true" frameborder="0" scrolling="no" id="twit2"
                  src="//platform.twitter.com/widgets/follow_button.html?screen_name={{rec_sn[1]}}"
                  style="width:300px; height:20px;"></iframe>
                  <!-- Click-to-remove -->
                  <button onclick = "clicked(this);" class="btn btn-small btn-inverse" type="button" id="button2"> Rock something different </button>
                </div>
            </span>
          </div>
          <div class="tableerow">
            <span class="boxwrap">
              <!-- Artist pictures -->
              <div class="artistwrap" id="box3">
                <img class="croppedImage2" src="https://api.twitter.com/1/users/profile_image?screen_name={{rec_sn[2]}}&size=original"
                title="@{{rec_sn[2]}}" id="img3"></img>
                <!-- now for the text -->
                <p class="lead-artists"> 
                  <span id='slot3'> {{recommendation[2]}} </span> 
                </p>
                <!-- and the twitter follow buttons -->
                <iframe allowtransparency="true" frameborder="0" scrolling="no" id="twit3"
                src="//platform.twitter.com/widgets/follow_button.html?screen_name={{rec_sn[2]}}"
                style="width:300px; height:20px;">
                </iframe>
                <!-- Click-to-remove buttons -->
                <button onclick = "clicked(this);" class="btn btn-small btn-inverse" type="button" id="button3"> Rock something different </button>
              </div>
            </span>
            <span class="boxwrap">
              <!-- Artist pictures -->
              <div class="artistwrap" id="box4">
                <img class="croppedImage2" src="https://api.twitter.com/1/users/profile_image?screen_name={{rec_sn[3]}}&size=original"
                title="@{{rec_sn[3]}}" id="img4"> </img>
                <!-- now for the text -->
                <p class="lead-artists"> 
                  <span id='slot4'> {{recommendation[3]}} </span> 
                </p>
                <iframe allowtransparency="true" frameborder="0" scrolling="no" id="twit4"
                src="//platform.twitter.com/widgets/follow_button.html?screen_name={{rec_sn[3]}}"
                style="width:300px; height:20px;"></iframe>
                <!-- Click-to-remove -->
                <button onclick = "clicked(this);" class="btn btn-small btn-inverse" type="button" id="button4"> Rock something different </button>
              </div>
            </span>
          </div>
        </div>
      </div>

      <!-- 2nd Row in Artist Display -->
      
      <!-- Artist pictures -->

      <br>


<!--      </div>
      <div class="span3">
        <button class="btn btn-small" type="button" href="#"> dislike </button> <br> <br>
        <button class="btn btn-small" type="button" href="#"> dislike </button> <br> <br>
        <button class="btn btn-small" type="button" href="#"> dislike </button> <br> <br>
        <button class="btn btn-small" type="button" href="#"> dislike </button> <br> <br>
        <button class="btn btn-small" type="button" href="#"> dislike </button> <br> <br>
      </div>
    </div> -->


<!--        <a class="btn dropdown-toggle btn-large btn-primary" href="#" data-toggle="dropdown">
          Artists Menu
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><a tabindex="-1" href="#">J Dilla (Hip Hop)</a></li>
        </ul> -->
      

      <hr>


<!--        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div> -->



      <div class="footer">
        <p>&copy; HipHopper 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{url_for('static', filename='bootstrap-alert.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-modal.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-dropdown.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-scrollspy.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-tab.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-tooltip.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-popover.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-button.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-collapse.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-carousel.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-typeahead.js')}}"></script>
    <!-- <script src="../static/bootstrap/js/jquery.js"></script>
    <script src="../static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="../static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="../static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="../static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="../static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="../static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="../static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="../static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="../static/bootstrap/js/bootstrap-button.js"></script>
    <script src="../static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="../static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="../static/bootstrap/js/bootstrap-typeahead.js"></script> -->
    <!-- <script> var MyRecs = [ {{ ', '.join(recommendation) }} ]; </script> -->

  </body>
</html>
