
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HipHopper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!-- <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet"> -->

    <!-- jpp, changed to url_for() to set dynamic web application -->
    <link href="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
        background-color: #F0F0F0;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      /* jpp changed this formatting to left align */
      .jumbotron {
        margin: 60px 0;
        text-align: left;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
        text-align: left;
      }

      .croppedImage{
        width: 180px;
        height: 180px;
        /*border: thin solid black;*/
      }


      .new_muted{color:Black}

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

    </style>

    <!-- function for getting the artist's name from the
     button click  -->
    <script type="text/javascript">
    function clicked(item) {

      console.log("boom")

      var root_artist_name = 'test'; //document.getElementById("slot"+($(item).attr('id'))[4]).innerHTML

      var output_dict = {'root_sn' : root_artist_name};

      $.ajax({ url:'/hiphopper/output1', type:"POST", data: 
        JSON.stringify(output_dict), 
        contentType:"application/json; charset=utf-8", dataType:"json", 
        success: function(data){ console.log(data)          
        } });

      return false
    };

    </script>
    <!-- <link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../static/bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../static/bootstrap/ico/favicon.png"> -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename='apple-touch-icon-114-precomposed.png')}}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='apple-touch-icon-72-precomposed.png')}}">
                    <link rel="apple-touch-icon-precomposed" href=" {{ url_for('static', filename = 'apple-touch-icon-57-precomposed.png') }}">
                                   <link rel="shortcut icon" href=" {{ url_for('static', filename = 'favicon.png') }}">

  </head>

  <body>

   <!-- Start the body of the HTML -->
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!-- add the website app name -->
          <a class="brand" href="{{ url_for('home') }}">HipHopper</a>
          <div class="nav">
            <ul class="nav">
              <!-- Now add the navigation buttons -->
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('api') }}">The HipHopper App</a></li>
              <li class="active"><a href="#">Slides</a></li>
              <li><a href="#">About Justin</a></li>
              <li> <a href="mailto:parrella@post.harvard.edu" target="_blank">Holla Back</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="container-narrow">


      <div class="jumbotron">
        <h2>Learn About HipHopper!</h2>
      </div> <!-- div for container-narrow -->

      <iframe src="http://www.slideshare.net/slideshow/embed_code/16555776" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>

<!--             <dl class="dl-horizontal">
              <dt>
                <img class="croppedImage" src="../static/img/j-dilla.jpg" title="J Dilla"></img>
              </dt>
              <dd>
                <p> This is some text! </p>
              </dd>
            </dl> -->

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jpp commented out the script lines below -->
    <!-- <script src="../static/bootstrap/js/jquery.js"></script>
    <script src="../static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="../static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="../static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="../static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="../static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="../static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="../static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="../static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="../static/bootstrap/js/bootstrap-button.js"></script>
    <script src="../static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="../static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="../static/bootstrap/js/bootstrap-typeahead.js"></script> -->
    <!-- jpp, url_for instead -->
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-alert.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-modal.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-dropdown.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-scrollspy.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-tab.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-tooltip.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-popover.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-button.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-collapse.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-carousel.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap-typeahead.js')}}"></script>

  </body>
</html>
